.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

   
}
ul{
    display: flex;
    list-style-type: none;
}
li{
   
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;
    
}
li:hover{
    text-decoration: underline;
    color:red
}
.logo>img{
  
    height: 100px;
    width: 120px;}
.restro-card{
    
   
    margin: 5px;
    
    width: 200px;
    

    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.restro-card:hover{
    border: 1px solid black;

}
.resto-menu{
margin-top: 20px;
border: 2px solid black;
display: flex;
flex-wrap: wrap;
border-radius: 5px;

}
.food-image img{
    height:170px;
   width: 100%;
   
}
.menu-items{
    text-align: left
}
.cuisines{
overflow: hidden;
}
.footer{
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#filter_btn{
    margin-top: 10px

}